---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
import { getImage } from "astro:assets";
import Button from "../components/reusable/Button.astro";

const { blok } = Astro.props;
const {
  title,
  description,
  heading_type,
  background_color,
  button,
  image,
  sticky_background,
  bigger_heading,
} = blok;

let backgroundImageUrl = "";
if (image?.filename) {
  const { src } = await getImage({
    src: image.filename,
    format: "webp",
    quality: 80,
    width: 1920,
    height: 1080,
  });
  backgroundImageUrl = src;
}

const getBackgroundColorClass = (color: string) => {
  switch (color) {
    case "green":
      return "bg-green";
    case "red":
      return "bg-red";
    default:
      return "bg-black";
  }
};

const backgroundColorClass = getBackgroundColorClass(
  background_color || "black",
);

const HeadingTag = heading_type || "h2";
---

<section
  class={`relative ${backgroundImageUrl ? "min-h-screen" : "min-h-[50vh]"} w-screen overflow-hidden ${backgroundColorClass} bg-cover bg-no-repeat bg-center ${sticky_background ? "lg:bg-fixed" : ""}`}
  style={backgroundImageUrl && `background-image: url('${backgroundImageUrl}')`}
  {...storyblokEditable(blok)}
>
  {backgroundImageUrl && <div class="absolute inset-0 bg-black/60" />}
  <div
    class="relative z-10 flex h-screen md:py-20 w-full flex-col items-center justify-center px-4 text-center max-w-4xl mx-auto"
  >
    <Fragment
      set:html={`<${HeadingTag} class="${bigger_heading ? "h1" : ""} mb-6 text-white text-pretty">${title}</${HeadingTag}>`}
    />
    {
      description && (
        <div
          set:html={renderRichText(description)}
          class="mb-8 text-light-gray max-w-3xl text-balance mx-auto prose prose-invert"
        />
      )
    }
    {
      button && button.length > 0 && (
        <Button
          type={button[0].style}
          buttonText={button[0].text}
          link={"/" + button[0].link?.cached_url}
        />
      )
    }
  </div>
</section>
