---
import { Image } from "astro:assets";

const { image, title, category, snippet, slug } = Astro.props;
const strapiUrl = import.meta.env.STRAPI_URL;
---

<li
	class="card relative group my-4 md:my-20 w-full rounded-md hover:bg-neutral-200 bg-white md:w-64 lg:w-full"
>
	<figure class="relative aspect-video">
		<Image
			src={image}
			alt="Blog"
			class="h-auto w-full object-cover group-hover:cursor-pointer"
		/>
		<div
			class="absolute top-2 right-2 h-8 w-24 rounded-xl bg-white py-2 text-center text-sm font-semibold tracking-tight text-black"
			aria-hidden="true"
		>
			{category}
		</div>
	</figure>
	<div class="card-body pt-4 justify-between">
		<h2
			class="card-title group-hover:text-primary !font-body mt-0 line-clamp-3 h-20 items-start !text-xl !font-semibold"
		>
			{title}
		</h2>
		<div class="font-body mt-2 line-clamp-3 h-20 overflow-y-hidden text-lg">
			{snippet}
		</div>
	</div>
	<a
		href={slug + "/"}
		class="my-4 after:absolute after:content-[''] after:inset-0 text-primary hover:underline underline-offset-2 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2"
	>
		<span>Read More</span>
		<span class="sr-only"> about {title}</span>
	</a>
</li>
